.details-wrapper {
    width: 100%;
    height: fit-content;
    padding: 20px 20px 20px 15%;
}
.details {
    width: 85%;
    background-color: snow;
    border: solid gray 1px;
}
.details-cell {
    padding: 20px;
}
.details-cell-title{
    font-size: 20px;
    color: lightslategray;
}

.details-contacts {
    display: flex;
    margin-top: 5px;
}

.details-contacts-text {
    margin-left: 10px;
    font-weight: bold;
}

.details-contacts-link {
    margin-left: 10px;
    color: dodgerblue;
}